@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
Hey,

lol I didn't use Homebrew at first bc I thought it would be messy, but then it wasn't working (probably because Mono, a dependency that allows C# on other platforms, wasn't working correctly – not the compatible build). So instead of going through lots of Mono code and stuff, just settled with Homebrew. Appears to be working (it has a model, view, and controller).

I simply followed this (https://code.visualstudio.com/docs/ASPnet5) tutorial to make this 'web app', just using the yeoman scaffold.

-- Riyad.</p>
